<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/images/pill.png" height="256" width="256">
        </div>
        <div class="col-lg-4">
            <img src="assets/images/blood.png" height="256" width="256">
        </div>
        <div class="col-lg-4">
            <img src="assets/images/syringe.png" height="256" width="256">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/images/accident.png" height="256" width="256">
        </div>
        <div class="col-lg-4">
            <img src="assets/images/surgeon.png" height="256" width="256">
        </div>
        <div class="col-lg-4">
            <img src="assets/images/health.png" height="256" width="256">
        </div>
    </div>
</div>