<div class="container">
    <div class="card card-block bg-faded pozadina col-lg-12 gap-top">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Uloga</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="users==null || users?.length === 0">Nema korisnika da se pokaze</tr>
              <tr *ngFor="let user of users; let i = index">
                <td>{{user.username}}</td>
                <td>{{user.role.name}}</td>
                <td><button class="btn btn-primary redBtn" type="button" (click)="deleteUser(user.id)">Obrisi</button></td>
            </tr>    
         </tbody>
       </table>
          <div>
            <button class="btn btn-info redBtn" (click)="newUser()">Novi korisnik...</button>
            <button class="btn btn-info right-items redBtn" (click)="nextUsers()">&#x21E8;</button>
            <button class="btn btn-info right-items redBtn">{{korisniciStranica}}</button>
            <button class="btn btn-info right-items redBtn" (click)="prevUsers()">&#x21E6;</button>
          </div>
      </div>
  </div>