<div class="container">
    <div class="card card-block bg-faded pozadina col-lg-12 gap-top">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Tip</th>
            <th scope="col">Substance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="lekovi==null || lekovi?.length === 0">Nema lekova da se pokaze</tr>
              <tr *ngFor="let lek of lekovi; let i = index">
                <td>{{lek.name}}</td>
                <td>{{lek.type.name}}</td>
                <td>{{lek.substances | substancesPipe}}</td>
                <td><button class="btn btn-primary redBtn" type="button" (click)="deleteLek(lek.id)">Obrisi</button></td>
            </tr>    
         </tbody>
       </table>
          <div>
            <button class="btn btn-info right-items redBtn" (click)="nextLekovi()">&#x21E8;</button>
            <button class="btn btn-info right-items redBtn">{{lekoviStranica}}</button>
            <button class="btn btn-info right-items redBtn" (click)="prevLekovi()">&#x21E6;</button>
          </div>
      </div>
  </div>