<div class="container mx-auto">
    <div *ngFor="let alert of alerts;let i = index" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{alert}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <a [ngClass]="{'red-button' : !realtimeStart, 'red-button-disabled' : realtimeStart}" (click)="start('REAL_TIME')">Zapocni Real Time</a>
    <a [ngClass]="{'red-button' : realtimeStart, 'red-button-disabled' : !realtimeStart}" (click)="stop()">Zaustavi Real Time</a>
    <a [ngClass]="{'red-button' : !realtimeStart, 'red-button-disabled' : realtimeStart}" (click)="start('PSEUDO')">Zapocni Pseudo</a>
</div>
